:local .header {
  margin: 0 auto;
  width: 600px;
  height: 100vh;
  background: #f0f0f0;
  .header-link {
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color: #333;
    background: orange;
  }
}
